.App {
  background-color: #fafafa;
  height: 100vh;
}
.app_post {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app_postrigh {
  margin-left: 20px;
}
.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app_Image {
  object-fit: contain;
  height: 40px;
}
.app_signup-pp {
  display: flex;
  flex-direction: column;
}
.head-bottom {
  padding-left: 25%;
  font-size: 20px;
}
.app_header_center {
  display: flex;
  height: 40px;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 8px;
}
.app_header_center > .MuiSvgIcon-root {
  height: 40px;
  align-items: center;
}
.app_header_center > input {
  width: 100%;
  border: none;
  outline: none;
  background-color: lightgray;
}
.app_header_Icons {
  display: flex;
  align-items: center;
}
.app_header_Icons > .MuiSvgIcon-root {
  padding: 10px;
  font-size: 2rem;
}
.app_header_Icons > img {
  padding: 10px;
  width: 2rem;
  height: 2rem;
}

.app_header_Icons > img:hover {
  background-color: lightgray;
  border-radius: 8px;
  cursor: pointer;
}
.app_header_Icons > .MuiSvgIcon-root:hover {
  background-color: lightgray;
  border-radius: 8px;
  cursor: pointer;
}
.app_story {
  padding-bottom: 10px;
  display: flex;
  width: 100px;
}

@media (max-width: 999px) {
  .app_header {
    max-width: 100px;
    display: flex;
  }
  .app_header > img {
    width: 100px;
  }
  .app_header_center {
    display: flex;
  }
  .app_header_sign {
    display: flex;
    font-size: 12px;
  }
  .app_header_Icons > .MuiSvgIcon-root {
    padding: 20px;
    font-size: 2rem;
  }
  .app_header_Icons > img {
    padding: 5px;
    width: 1.8rem;
    height: 1.8rem;
  }
  .app_story {
    max-width: 100px;
    display: flex;
  }
}

@media (max-width: 876px) {
  .app_header {
    max-width: 100px;
    display: flex;
  }
  .app_header > img {
    width: 100px;
  }
  .app_header_center {
    display: flex;
  }
  .app_header_sign {
    display: flex;
    font-size: 12px;
  }
  .app_header_Icons > .MuiSvgIcon-root {
    padding: 20px;
    font-size: 2rem;
  }
  .app_header_Icons > img {
    padding: 5px;
    width: 1.8rem;
    height: 1.8rem;
  }
  .app_story {
    max-width: 100px;
    display: flex;
  }
}

@media (max-width: 478px) {
  .app_header {
    max-width: 100px;
    display: flex;
  }
  .app_header > img {
    width: 100px;
  }
  .app_header_center {
    display: flex;
  }
  .app_header_sign {
    display: flex;
    font-size: 12px;
  }
  .app_header_Icons > .MuiSvgIcon-root {
    padding: 5px;
    font-size: 1.8rem;
  }
  .app_header_Icons > img {
    padding: 5px;
    width: 1.8rem;
    height: 1.8rem;
  }
  .app_story {
    display: flex;
    width: 30px;
  }
}
@media (max-width: 578px) {
  .app_header {
    max-width: 120px;
    display: flex;
  }
  .app_header_sign {
    display: flex;
    font-size: 12px;
  }
  .app_header > img {
    width: 100px;
  }
  .app_header_center {
    display: flex;
  }
  .app_header_Icons > .MuiSvgIcon-root {
    padding: 20px;
    font-size: 2rem;
  }
  .app_header_Icons > img {
    padding: 5px;
    width: 1.8rem;
    height: 1.8rem;
  }
  .app_story {
    display: flex;
    width: 30px;
  }
}
@media (max-width: 725px) {
  .app_header {
    max-width: 200px;
    display: flex;
  }
  .app_header_sign {
    display: flex;
    font-size: 12px;
  }
  .app_header > img {
    width: 100px;
  }
  .app_header_center {
    display: flex;
  }
  .app_header_Icons > .MuiSvgIcon-root {
    padding: 20px;
    font-size: 2rem;
  }
  .app_header_Icons > img {
    padding: 5px;
    width: 1.8rem;
    height: 1.8rem;
  }
  .app_story {
    display: flex;
    width: 30px;
  }
}
