.imageup {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.imagup_progress {
  width: 100%;
}
.imageup > progress {
  padding: 10px;
}
.imageup > input {
  padding: 10px;
  border: none;
  outline-color: red;
}
